.container {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: 100px repeat(5, 110px);
  border: 4px black solid;
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table-head {
  grid-column-start: 1;
  grid-column-end: 6;
  font-size: 48px;
  background-color: #CCCCCC !important;
  padding: 0px;
}

.item {
  background-color: white;
  display: grid;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid black;
  padding: .5em;
}
.item_selected {
  background-color: orange;
  display: grid;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid black;
  padding: .5em;
}

.free-space {
  background-color: #CCCCCC;
}
.free-space::before {
  content: "Free Space - Click Me!";
}

button[data-bingo=horz] {
  background: #FFA500;
  background: -moz-linear-gradient(top, #FFA500 15%, #FFFFFF 50%,
        #FFA500 85%);
  background: -webkit-linear-gradient(top, #FFA500 15%, #FFFFFF 50%,
        #FFA500 85%);
  background: linear-gradient(to bottom, #FFA500 15%, #FFFFFF 50%,
        #FFA500 85%);
}
button[data-bingo=vert] {
  background: #FFA500;
  background: -moz-linear-gradient(left, #FFA500 20%, #FFFFFF 50%,
      #FFA500 80%);
  background: -webkit-linear-gradient(left, #FFA500 20%, #FFFFFF 50%,
      #FFA500 80%);
  background: linear-gradient(to right, #FFA500 20%, #FFFFFF 50%,
      #FFA500 80%);
}
button[data-bingo=diagF] {
  background: #FFA500;
  background: -moz-linear-gradient(45deg, #FFA500 20%, #FFFFFF 50%,
      #FFA500 80%);
  background: -webkit-linear-gradient(45deg, #FFA500 20%, #FFFFFF 50%,
      #FFA500 80%);
  background: linear-gradient(45deg, #FFA500 20%, #FFFFFF 50%,
      #FFA500 80%);
}
button[data-bingo=diagR] {
  background: #FFA500;
  background: -moz-linear-gradient(-45deg, #FFA500 20%, #FFFFFF 50%,
      #FFA500 80%);
  background: -webkit-linear-gradient(-45deg, #FFA500 20%, #FFFFFF 50%,
      #FFA500 80%);
  background: linear-gradient(-45deg, #FFA500 20%, #FFFFFF 50%,
      #FFA500 80%);
}
button[data-bingo=mult] {
  background: #FFA500;
  background: -moz-radial-gradient(center, #FFA500 0%, #FFFFFF 40%,
      #FFA500 85%);
  background: -webkit-radial-gradient(center, #FFA500 0%, #FFFFFF 40%,
      #FFA500 85%);
  background: radial-gradient(ellipse at center, #FFA500 0%, #FFFFFF 40%,
      #FFA500 85%);
}

.controls {
  text-align: center;
}

.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 20px !important;
}
.button:hover {
  background-color: #aaa;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.10);

}
